/* bootstrap dropdown hover menu*/

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #4f5d6e;
  position: relative;
}

.body-wrap {
  min-height: 700px;
}

.body-wrap {
  position: relative;
  z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 260px;
}

.body-wrap:after {
  top: auto;
  bottom: 0;
}


hr {
	box-shadow: 0.2px 0.2px 0.2px #000;
}
.container {
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px black;
    padding:0 15px 0 15px;
}
.row {
	padding:0 0px 0 15px;
}

.jumbotron {
  background-color: #b2dfdb !important; 
  box-shadow: 1px 1px 1px black;
}

.glyphicon {
padding:50px 15px 50px 15px;
color: #00b2cc;
font-size: 200px;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
text-shadow: -1px 1px 2px #fff;
cursor:pointer;
}

.glyphicon:hover, 
.glyphicon:active, 
.glyphicon:focus {
text-shadow: 2px 3px 15px #006978;
}


nav {
  /*//padding: 20px 0;*/
  background-color: #00838f !important;
  border-color: #004d40 !important;
  box-shadow: 0.1px 0.1px 0.1px black;

}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #004d40 !important;
}
.list-group-item {
    box-shadow: 1px 1px 1px black;
}



